<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href='../static/bootstrap-5.3.2-dist/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
    <link href='../static/styles/font.css' rel='stylesheet' type='text/css' />
    <link href='../static/styles/nav.css' rel='stylesheet' type='text/css' />

</head>

<body>
    {%- for message in get_flashed_messages() %}
    <script>
      alert('{{ message }}')
    </script>
    {%- endfor %}
  
    <h1 class="text-center">請輸入欲查詢之教師編號</h1>
    <a href="{{url_for('home')}}" class='btn btn-success '>Back to the homepage</a>
  
    <form action='{{  request.past  }}' method='post' class='row g-0'>
        <h3 class="g-3">教師編號 : （50001 ~ 50025）</h3>
        <label class="form-label " for='id'>
            <input class='form-control' id='id' type="number" min="50001" max="50025" name='teacher_id' />
            <input type='submit' value='查詢' class='btn btn-outline-primary' />

    </form>
    <script src="../static/bootstrap-5.3.2-dist/js/popper.min.js"></script>
    <script src="../static/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
</body>

</html>